/* Estilos generales */
h1{
  font-weight: 400;
  text-align: left;
  padding: 20px 30px;
  font-size: 40px;
}
body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;

}

.container2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: #d2d2d2;
}
.container2 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
body p{
  text-align: justify;
}

/* Estilos del encabezado */
header {
  background-color: #e9e9e9;
  padding: 20px;
  display: flex;
  align-items: center;
}

header img {
  max-width: 550px;
  margin-right: 20px;
}

.header .caption {
  flex: 1;
  
}
.caption{
  padding-top: 50px;
}

.header h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.header p {
  font-size: 16px;
  color: #555555;
}

/* Estilos del contenido principal */
main {
  margin-top: 20px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  header img {
    margin: 0 auto 20px;
  }
  .container{
    display: flex;
    flex-direction: column;
  }
  .container img{
    width: 350px;
    height: 250px;
  }
}
