body { 
    
	font-family: 'Arial', sans-serif;
	background: #000;
	background:#414448;
	background-size: cover;
	background-attachment: fixed;
}
h1 {
  font-family: sans-serif;
}
.Galeria-img{
  width: 90%;
}
img{
  padding: 20px;
  margin: 10px;
  width: 420px;
  vertical-align: top;

}
.Galeria-img img{
  border: 2px solid #000;
  
}